<div class="gallery">
  {% for image in site.data.gallery.images %}
    <!-- Image {{ forloop.index }} -->
    <div class="image-card">
      <div class="image-container">
        <img src="{{ image.path }}" alt="Gallery Image">
      </div>
      <div class="description">
        <h3>{{ image.title }}</h3>
        <p>{{ image.description }}</p>
        <div class="camera-settings">
          <span>{{ image.settings.aperture }}</span>
          <span>{{ image.settings.shutter_speed }}</span>
          <span>{{ image.settings.iso }}</span>
          <span>{{ image.settings.focal_length }}</span>
        </div>
        <div class="camera-model">
          <span class="model">{{ image.camera.model }}</span>
          <span class="lens">{{ image.camera.lens }}</span>
          <span class="sensor">{{ image.camera.sensor }}</span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
